body {
  background-color: #d5e1ef;
  overflow: hidden;
  height: 100%;
  -webkit-transition: background .5s;
  transition: background .5s;
}

.toggle {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  outline: none;
  border: none;
  margin-top: 1rem;
}

.toggle::before {
  content: '\f186';
  font-family: fontAwesome;
  color: #2c384a;
}

body.dark .toggle::before {
  content: '\f185';
  font-family: fontAwesome;
}

body.dark {
  background-color: #161414;
}

body.dark .qr {
  background-color: #161414;
}

body.dark .text__heading, body.dark .social__connect, body.dark .fab {
  color: #b0afb7;
}

body.dark a {
  -webkit-box-shadow: none;
          box-shadow: none;
}

body.dark img {
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

/*______________________________________________________*/
html {
  font-size: 10px;
}

main {
  min-height: 100vh;
}

@media only screen and (max-width: 320px) {
  main {
    min-height: 10vh;
  }
}

img {
  width: 100%;
  max-width: 30rem;
  border-radius: 1rem;
  margin: 3.5rem;
}

@media only screen and (max-width: 480px) {
  img {
    width: 92%;
    margin-bottom: .1rem;
  }
}

@media only screen and (max-width: 360px) {
  img {
    margin-top: 2rem;
  }
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fab {
  margin: auto;
  text-align: center;
}

.qr {
  background-color: #fff;
  width: 100%;
  max-width: 33rem;
  min-height: 550px;
  border-radius: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (max-width: 280px) {
  .qr {
    max-height: 72% !important;
  }
}

@media only screen and (max-width: 480px) {
  .qr {
    width: 90%;
    height: 55rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (max-width: 768px) {
  .qr {
    height: 53rem;
  }
}

@media only screen and (max-width: 1024px) {
  .qr {
    height: 55rem;
  }
}

.qr .qr__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: -1.9rem;
}

@media only screen and (max-width: 360px) {
  .qr .qr__content {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 411px) {
  .qr .qr__content {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 320px) {
  .qr .qr__content {
    margin-top: -4rem;
  }
}

@media only screen and (max-width: 375px) {
  .qr .qr__content {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 1280px) {
  .qr .qr__content {
    margin-top: -2rem;
  }
}

.social {
  font-size: 1.3rem;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 480px) {
  .social {
    font-size: 1rem;
  }
}

.social .social__connect {
  color: #2c384a;
  font-size: 1.3rem;
  font-family: 'Poppins', sans-serif;
}

@media only screen and (max-width: 480px) {
  .social .social__connect {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 1rem;
  }
}

.social a {
  padding: .4rem;
  -webkit-box-shadow: 6px 6px 10px -1px rgba(128, 128, 128, 0.2);
          box-shadow: 6px 6px 10px -1px rgba(128, 128, 128, 0.2);
  text-decoration: none;
  display: inline-block;
  border-radius: 50%;
  width: 20px;
  height: 20px;
}

.social a:hover {
  -webkit-box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.3), inset -4px -4px 6px -1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 4px 4px 6px -1px rgba(0, 0, 0, 0.3), inset -4px -4px 6px -1px rgba(0, 0, 0, 0.1);
}

.social .fab {
  color: #2b7dfa;
  margin-top: .4rem;
}

.text {
  padding: 0 4rem;
  text-align: center;
  margin-top: -2rem;
}

@media only screen and (max-width: 280px) {
  .text {
    padding: 0rem 2.2rem;
  }
}

@media only screen and (max-width: 768px) {
  .text {
    margin-top: -2rem;
  }
}

@media only screen and (max-width: 360px) {
  .text {
    margin-top: .5rem;
  }
}

@media only screen and (max-width: 411px) {
  .text {
    margin-top: .5rem;
  }
}

.text .text__heading {
  font-size: 2rem;
  font-family: 'Poppins', sans-serif;
  color: #2c384a;
  margin: 1rem 0 1rem 0;
}

@media only screen and (max-width: 280px) {
  .text .text__heading {
    font-size: 1.7rem;
  }
}

@media only screen and (max-width: 375px) {
  .text .text__heading {
    font-size: 1.8rem;
  }
}

.text .text__desc {
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem;
  color: #b0afb7;
  margin-bottom: 1rem;
}

@media only screen and (max-width: 280px) {
  .text .text__desc {
    font-size: 1.4rem;
  }
}

@media only screen and (max-width: 375px) {
  .text .text__desc {
    font-size: 1.3rem;
  }
}
/*# sourceMappingURL=main.css.map */